*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand{
    font-weight: bold;
    font-style: italic;
}

.carousel-inner .carousel-item img{
    width: 100%;
    height: 80vh;
}

.registration_form{
    margin: 50px auto;
    width: 350px;
}

.about{
    padding: 80px 0;
}

.about_img img{
    width: 500px;
}

.about_details h3{
    font-weight: bold;
    font-style: italic;
}

.about_details p{
    text-align: justify;
}