<!DOCTYPE html>
<html lang="en">

<head>
    {{> navbar_link }}
</head>

<body>
    <!-- Navbar Sectin -->
    {{> navbar }}

    <!-- Registration Form Section -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about_img">
                        <img src="/img/web_dev4.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about_details">
                        <h3>About US</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem expedita accusamus incidunt molestiae architecto voluptatibus eveniet ducimus quam, ratione ullam.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, error eligendi? Officia, ab. Quia delectus aut modi ratione maxime voluptatibus.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    {{> footer_link }}
</body>

</html>