<!DOCTYPE html>
<html lang="en">

<head>
    {{> navbar_link }}
</head>

<body>
    <!-- Navbar Sectin -->
    {{> navbar }}

    <!-- Registration Form Section -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="registration_form">
                    <form action="/login" method="POST">
                        <div class="form-group">
                            <input type="email" 
                                   class="form-control" 
                                   placeholder="Enter email" 
                                   id="email" 
                                   name="email">
                        </div>
                        <div class="form-group">
                            <input type="password" 
                                   class="form-control" 
                                   placeholder="Enter password" 
                                   id="password"
                                   name="password">
                        </div>

                        <button type="submit" class="btn btn-primary">Login</button>
                        <a href="/register">Don't have an account ?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>



    {{> footer_link }}
</body>

</html>